.c-flex{
  @include mq('lg'){
    display: flex;
    justify-content: space-between;
  }
}

.c-flex__item{
  padding: 2rem 2.5rem;
  background: #fff;
  margin-bottom: 20px;

  @include mq('lg'){
    width: 30%;
  }
}

.c-flex__img{
  display: block;
  margin: 0 auto;
}

.c-flex__title{
  font-size: 20px;
  text-align: center;
  padding-top: 4px;

  &:after{
    content: "";
    width: 55px;
    height: 3px;
    background-color: #28B472;
    display: block;
    margin: 4px auto 0;
  }
}

.c-flex__text{
  padding-top: 12px;
}

.c-flex__link{
  padding-top: 12px;
}