.c-links{
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  margin: 16px 0;
  z-index: 2;

  a{
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 1rem;
    border-top: 1px solid #e5e5e5;
    font-size: 0.9rem;

    @include mq('lg'){
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}