.c-openBtn{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  cursor: pointer;
  width: 50px;
  height:50px;
  border-radius: 5px;
}

/*ボタン内側*/
.c-openBtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 2px;
    background: $color-main;
    width: 45%;
  }

.c-openBtn span:nth-of-type(1) {
  top:15px; 
}

.c-openBtn span:nth-of-type(2) {
  top:23px;
}

.c-openBtn span:nth-of-type(3) {
  top:31px;
}

.c-openBtn span:nth-of-type(3)::after {
  content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top:5px;
  left:-2px;
  color: $color-main;
  font-size: 0.6rem;
  text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
.c-openBtn.active span:nth-of-type(3)::after {
  content:"Close";/*3つ目の要素のafterにClose表示を指定*/
  transform: translateY(0) rotate(-45deg);
  top:5px;
  left:4px;
}

/*activeクラスが付与されると線が回転して×に*/
.c-openBtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.c-openBtn.active span:nth-of-type(2) {
  opacity: 0;/*真ん中の線は透過*/
}

.c-openBtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
