@charset "UTF-8";
/* A Modern CSS Reset */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role="list"], ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  height: auto;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: .01ms !important;
            animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: .01ms !important;
            transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

a {
  color: inherit;
}

li {
  list-style: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.l-inner {
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 1024px) {
  .-mt {
    margin-top: 72px;
  }
}

@media not all and (min-width: 768px) {
  .-layer {
    background: #ECF4F2;
  }
}

.-layer-lg {
  background: #ECF4F2;
  margin: 0 calc(50% - 50vw);
}

.-photo {
  background: url(../images/top/main-visual.jpeg) no-repeat center center/cover;
}

.-gradation {
  background: -webkit-gradient(linear, right top, left top, from(#28B472), color-stop(76.04%, #28B0B5)) !important;
  background: linear-gradient(270deg, #28B472 0%, #28B0B5 76.04%) !important;
}

.-bg {
  overflow: hidden;
}

@media (min-width: 768px) {
  .-bg {
    /*タブレット以上で白背景を表示 */
  }
  .-bg:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 50%;
    width: 100vw;
    height: 100%;
    background-color: #ECF4F2;
    -webkit-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
    left: 0;
  }
}

@media (min-width: 1024px) {
  .-square:after {
    content: "";
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 280px;
    height: 200px;
    background: -webkit-gradient(linear, right top, left top, from(#28B472), color-stop(76.04%, #28B0B5));
    background: linear-gradient(270deg, #28B472 0%, #28B0B5 76.04%);
    display: block;
    z-index: -1;
  }
}

.-accent {
  background: #B52D28 !important;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  line-height: 1.7;
}

.l-header {
  width: 100%;
  z-index: 100;
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .l-header__inner {
    padding-right: 6%;
    margin: 0 auto;
    height: 100px;
  }
}

.l-header__logo {
  width: 160px;
}

.l-header__nav-pc {
  display: none;
}

@media (min-width: 1024px) {
  .l-header__nav-pc {
    display: block;
  }
  .l-header__nav-pc ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .l-header__nav-pc li {
    margin-left: 24px;
    font-weight: bold;
    font-size: 0.9rem;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .l-header__nav-pc li a {
    text-decoration: none;
  }
  .l-header__nav-pc li:hover {
    opacity: 0.8;
    color: #28B472;
  }
}

@media (min-width: 1024px) {
  .l-header__button {
    display: none;
  }
}

@media (min-width: 1024px) {
  .current-menu-item {
    color: #28B472;
    border-bottom: 2px solid #28B472;
  }
}

/*---------------------------------

  global-navigation

---------------------------------*/
.l-header__nav {
  background: #28B472;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
}

.l-header__nav__menu {
  height: 100%;
  position: absolute;
  width: 100%;
}

.l-header__nav__menu__item {
  padding: 32px 0;
  border-bottom: 1px solid #fff;
}

.l-header__nav__menu__item a {
  color: #fff;
  font-weight: bold;
  padding: 24px;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

.l-header__nav__menu__item a:before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/common/arrow-menu.svg) no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.l-header__nav__menu__item a:hover {
  color: #666;
}

.l-footer {
  background: #333;
  color: #fff;
  padding: 32px 0;
}

@media (min-width: 768px) {
  .l-footer {
    padding-top: 80px;
  }
}

.l-footer__inner {
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

/* タブレット以上では横並び表示 */
@media (min-width: 768px) {
  .l-footer__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
  }
}

.l-footer__logo {
  width: 160px;
}

@media (min-width: 768px) {
  .l-footer__logo {
    width: 200px;
  }
}

.l-footer__about {
  max-width: 240px;
  line-height: 1.5;
}

.l-footer__items {
  padding-top: 24px;
}

@media (min-width: 1024px) {
  .l-footer__items {
    padding-top: 0;
  }
}

.l-footer__menu {
  padding-top: 24px;
  font-size: 0.9rem;
  max-width: 600px;
}

@media (min-width: 768px) {
  .l-footer__menu {
    padding-top: 0;
  }
}

.l-footer__menu li {
  padding-bottom: 8px;
}

.l-footer__menu li a {
  text-decoration: none;
}

.l-footer__menu li a:before {
  display: inline-block;
  margin-right: 9px;
  content: '-';
}

@media (min-width: 768px) {
  .l-footer__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-footer__menu ul:after {
    /* 擬似要素で左詰にする */
    content: "";
    display: block;
    width: 150px;
    margin-left: 32px;
  }
  .l-footer__menu li {
    margin-left: 32px;
    width: 150px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .l-footer__menu li {
    padding-bottom: 24px;
  }
}

/* footerではボーダー非表示 */
.l-footer__menu .current-menu-item {
  border-bottom: none;
}

.l-footer__copy {
  padding-top: 24px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

.l-footer__copy a {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .l-container {
    padding-top: 32px;
  }
}

.p-main-visual {
  background: url(../images/top/main-visual.jpeg) no-repeat center center/cover;
  height: 50vh;
}

.p-main-visual__text {
  padding-top: 32px;
}

.p-main-visual__title {
  text-align: center;
  line-height: 1.2;
}

.p-main-visual__detail {
  padding-top: 16px;
}

.p-top-news__link {
  padding-top: 16px;
}

@media (min-width: 1024px) {
  .p-top-news__link {
    text-align: center;
    padding-top: 32px;
  }
}

.p-news__item {
  padding: 16px 0 8px;
  border-bottom: 1px solid #e5e5e5;
}

.p-news__date {
  font-size: 0.9rem;
}

.p-news__category {
  text-decoration: none;
  background: #B52D28;
  color: #fff;
  padding: 2px 8px;
  font-size: 0.9rem;
}

@media (min-width: 1024px) {
  .p-news__category {
    margin-left: 8px;
  }
}

.p-news__title {
  display: block;
  color: #337ab7;
  padding-top: 4px;
}

@media (min-width: 1024px) {
  .p-news__title {
    margin-left: 16px;
  }
}

@media (min-width: 1024px) {
  .p-news__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-section-title__sub {
  color: #28B472;
  font-weight: bold;
  font-size: 0.9rem;
}

.p-section-title__main {
  font-size: 20px;
}

.p-cta {
  background: #ECF4F2;
  padding: 2rem 1rem;
  text-align: center;
}

.p-cta__title {
  font-size: 20px;
}

.p-cta__link {
  padding-top: 12px;
}

.p-cta__sub {
  font-size: 0.9rem;
  text-align: center;
  padding-top: 12px;
}

.p-section-heading {
  text-align: center;
  font-size: 20px;
  position: relative;
  padding-top: 36px;
}

.p-section-heading:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 32px;
  background-color: #28B472;
}

.p-cards {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .p-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-cards__item {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .p-cards__item {
    width: calc(90% / 2);
  }
}

@media (min-width: 1024px) {
  .p-cards__item {
    width: calc(90% / 3);
  }
}

.p-map {
  padding-top: 24px;
}

.p-faqs {
  margin-top: 24px;
}

.p-faqs__item {
  padding: 32px 0;
  border-bottom: 1px solid #e5e5e5;
}

.p-section-contents {
  padding: 24px 0;
  margin-top: 24px;
}

.p-section-contents__sm {
  padding-bottom: 24px;
  margin-top: 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;
}

.p-info-box {
  padding-top: 16px;
}

.p-table__main {
  overflow-x: auto;
  margin-top: 24px;
  max-width: 100%;
}

.p-table__body {
  min-width: 580px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  width: 100%;
}

.p-table__body th {
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background: #ECF4F2;
  width: 25%;
  font-weight: normal;
  padding: 20px;
  font-size: 0.9rem;
}

.p-table__body td {
  border-right: 1px dashed #e5e5e5;
  width: 25%;
}

.p-table__body tr {
  border-bottom: 1px dashed #e5e5e5;
}

.p-table__note {
  font-size: 0.9rem;
  padding-top: 12px;
}

.p-table__text {
  padding-bottom: 10px;
}

.p-schedule {
  padding-top: 24px;
}

@media (min-width: 768px) {
  .p-schedule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 32px;
  }
}

.p-schedule__item {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .p-schedule__item {
    width: calc(90% / 2);
  }
}

@media (min-width: 1024px) {
  .p-schedule__item {
    width: calc(90% / 3);
  }
}

.p-article__title {
  margin-top: 8px;
}

.p-article__body p {
  margin-bottom: 12px;
}

.c-openBtn {
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

/*ボタン内側*/
.c-openBtn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 2px;
  border-radius: 2px;
  background: #28B472;
  width: 45%;
}

.c-openBtn span:nth-of-type(1) {
  top: 15px;
}

.c-openBtn span:nth-of-type(2) {
  top: 23px;
}

.c-openBtn span:nth-of-type(3) {
  top: 31px;
}

.c-openBtn span:nth-of-type(3)::after {
  content: "Menu";
  /*3つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top: 5px;
  left: -2px;
  color: #28B472;
  font-size: 0.6rem;
  text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
.c-openBtn.active span:nth-of-type(3)::after {
  content: "Close";
  /*3つ目の要素のafterにClose表示を指定*/
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
  top: 5px;
  left: 4px;
}

/*activeクラスが付与されると線が回転して×に*/
.c-openBtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.c-openBtn.active span:nth-of-type(2) {
  opacity: 0;
  /*真ん中の線は透過*/
}

.c-openBtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.c-block {
  padding: 48px 0;
  position: relative;
}

.c-button {
  display: inline-block;
  background: #515151;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 3rem;
  position: relative;
  width: 100%;
  max-width: 350px;
  text-align: center;
  font-weight: bold;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.c-button:after {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/common/arrow-menu.svg) no-repeat;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 8px;
}

@media (min-width: 1024px) {
  .c-button {
    padding: 8px 16px;
  }
}

.c-section-txt {
  padding-top: 12px;
}

.c-grid__contents {
  display: contents;
}

@media (min-width: 768px) {
  .c-grid__contents {
    display: initial;
    width: calc(95% / 2);
    margin: auto 0;
    z-index: 10;
    padding: 3rem 0;
  }
}

@media (min-width: 1024px) {
  .c-grid__contents {
    padding: 5rem 0;
  }
}

.c-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media not all and (min-width: 768px) {
  .c-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* SPではcolumn表示 */
  }
}

.c-grid__img, .p-section-title, .c-section-txt, .c-links {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media (min-width: 768px) {
  .c-grid__img, .p-section-title, .c-section-txt, .c-links {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

.c-grid__img {
  margin: 16px 0;
  z-index: 2;
}

@media (min-width: 768px) {
  .c-grid__img {
    width: calc(95% / 2);
    margin: auto 0;
  }
}

@media (min-width: 768px) {
  .c-grid__item {
    width: calc(95% / 2);
    margin: auto 0;
  }
}

.c-links {
  background: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  margin: 16px 0;
  z-index: 2;
}

.c-links a {
  font-weight: bold;
  display: block;
  text-decoration: none;
  padding: 1rem;
  border-top: 1px solid #e5e5e5;
  font-size: 0.9rem;
}

@media (min-width: 1024px) {
  .c-links a {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .c-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-flex__item {
  padding: 2rem 2.5rem;
  background: #fff;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .c-flex__item {
    width: 30%;
  }
}

.c-flex__img {
  display: block;
  margin: 0 auto;
}

.c-flex__title {
  font-size: 20px;
  text-align: center;
  padding-top: 4px;
}

.c-flex__title:after {
  content: "";
  width: 55px;
  height: 3px;
  background-color: #28B472;
  display: block;
  margin: 4px auto 0;
}

.c-flex__text {
  padding-top: 12px;
}

.c-flex__link {
  padding-top: 12px;
}

.c-section {
  position: relative;
  padding: 48px 0;
}

.c-card__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-card__title {
  font-size: 16px;
  background: -webkit-gradient(linear, right top, left top, from(#28B472), color-stop(76.04%, #28B0B5));
  background: linear-gradient(270deg, #28B472 0%, #28B0B5 76.04%);
  padding: 4px 8px;
  color: #fff;
}

.c-card__img {
  padding: 8px 0;
}

.c-card__yard {
  font-weight: bold;
}

.c-faq dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  font-weight: bold;
  color: #28B472;
}

.c-faq dt:before {
  content: 'Q';
  background: -webkit-gradient(linear, right top, left top, from(#28B472), color-stop(76.04%, #28B0B5));
  background: linear-gradient(270deg, #28B472 0%, #28B0B5 76.04%);
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.c-faq dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
}

.c-faq dd:before {
  content: 'A';
  background: #B52D28;
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  padding: 10px;
  font-weight: bold;
}

.c-whiteboard {
  background: #fff;
  padding: 1rem 1.5rem 0;
}

.c-whiteboard dl {
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.c-whiteboard dl:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .c-whiteboard dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-whiteboard dt {
  display: block;
  width: 100px;
  text-align: center;
  padding-top: 16px;
}

.c-whiteboard dt span {
  background: -webkit-gradient(linear, right top, left top, from(#28B472), color-stop(76.04%, #28B0B5));
  background: linear-gradient(270deg, #28B472 0%, #28B0B5 76.04%);
  color: #fff;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
}

.c-whiteboard dd {
  padding-top: 8px;
}

@media (min-width: 768px) {
  .c-whiteboard dd {
    margin-left: 16px;
    padding-top: 12px;
  }
}

.-strong {
  font-weight: bold;
  width: 200px !important;
}

.c-calender__list {
  margin-top: 8px;
}

.c-calender__list dl {
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-calender__list dl:first-child {
  border-top: 1px solid #e5e5e5;
}

.c-calender__list dt {
  display: block;
  width: 100px;
  text-align: center;
  padding-top: 16px;
}

.c-calender__list dt span {
  background: #28B472;
  color: #fff;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
}

.c-calender__list dd {
  padding-top: 8px;
  padding-left: 8px;
}

@media (min-width: 768px) {
  .c-calender__list dd {
    margin-left: 16px;
    padding-top: 12px;
  }
}

.toggle {
  padding: 24px 0;
  max-width: 800px;
  margin: 0 auto;
}

.toggle_contents {
  padding-bottom: 16px;
}

.q {
  display: inline-block;
  width: 24px;
  font-weight: bold;
  margin-right: 8px;
}

.a {
  display: inline-block;
  width: 24px;
  font-weight: bold;
  margin-right: 8px;
}

.toggle_title {
  position: relative;
  padding: 12px 48px 12px 12px;
  cursor: pointer;
  background: #28B472;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

dd {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}

.toggle_btn {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%;
}

.toggle_btn:before, .toggle_btn:after {
  display: block;
  content: '';
  background-color: #fff;
  position: absolute;
  width: 10px;
  height: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.toggle_btn:before {
  width: 2px;
  height: 10px;
}

.toggle_title.selected .toggle_btn:before {
  content: normal;
}

.toggle_contents dd {
  display: none;
}
/*# sourceMappingURL=style.css.map */