.p-cta{
  background: $color-layer;
  padding: 2rem 1rem;
  text-align: center;
}

.p-cta__title{
  font-size: 20px;
}

.p-cta__link{
  padding-top: 12px;
}

.p-cta__sub{
  font-size: 0.9rem;
  text-align: center;
  padding-top: 12px;
}