.p-main-visual{
  background: url(../images/top/main-visual.jpeg) no-repeat center center/cover;
  height: 50vh;
}

.p-main-visual__text{
  padding-top: 32px;
}

.p-main-visual__title{
  text-align: center;
  line-height: 1.2;
}

.p-main-visual__detail{
  padding-top: 16px;
}