.p-news__item{
  padding: 16px 0 8px;
}

.p-news__date{
  font-size: 0.9rem;
}

.p-news__category{
  text-decoration: none;
  background: $color-accent;
  color: #fff;
  padding: 2px 8px;
  font-size: 0.9rem;
}

.p-news__title{
  display: block;
  color: $color-link;
  padding-top: 4px;
}
