.l-footer{
  background: #323940;
  color: #fff;
  padding: 32px 16px;
}

.l-footer__about{
  font-weight: bold;
}

.l-footer__menu{
  padding-top: 24px;
  font-size: 0.9rem;
  
  li{
    padding-bottom: 8px;
    a{
      text-decoration: none;

      &:before{
        display: inline-block;
        margin-right: 9px;
        content: '-';
      }
    }
  }
}

.l-footer__copy{
  padding-top: 24px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  a{
    text-decoration: none;
  }
}
